
.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    position: relative;
    left:38%;
    width:300px;
    padding: 0 2%;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
.blogContent{

}

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */
#edit{

    color:white;
    background-color: rgb(235, 110, 151);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right:2%;
    box-shadow: 0 4px 8px 0 rgba(235, 110, 151, 0.2), 0 6px 20px 0 rgba(235, 110, 151, 0.19);
}
#like{

    color:white;
    font-size:18px;
    padding: 0.5% 1%;
    background-color: rgb(235, 110, 151);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left:1%;
    top:0.5%;
   box-shadow: 0 4px 8px 0 rgba(235, 110, 151, 0.2), 0 6px 20px 0 rgba(235, 110, 151, 0.19);
}
#comment{
    color:white;
   padding: 0.5%;
    background-color: rgb(235, 110, 151);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left:1%;
    top:0.5%;
   box-shadow: 0 4px 8px 0 rgba(235, 110, 151, 0.2), 0 6px 20px 0 rgba(235, 110, 151, 0.19);
}
#commentBox{
    background-color: rgba(179, 152, 152, 0.19);
    padding: 10px;
    width:90%;
    margin-left:1%;
}
#b{
 
    width:100%;
    padding:1%;
    box-shadow: 1px 1px 1px 1px grey;
 }
 #b:hover{
    background-color: white;
    color:rgb(54, 163, 81);
    font-weight: bolder;
 }